<p>
  <%= "Dear #{t('app_title')}," %>
</p>
<p>
  <%= "Could you get in touch with me please?" %>
</p>
<dl></dl>
<dt>Name:</dt>
<dd>
  <%= @name %>
</dd>
<dd>
  <%= @subject %>
</dd>
<dt>Email:</dt>
<dd>
  <%= @from_email %>
</dd>
<p>
  <%= @content %>
</p>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
